body {
  background: url("./flagBackground.webp") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}

.Triangle {
  position: absolute;
   border-top: solid 50px #e15915;
   border-left: solid 50px transparent;
   border-right: solid 50px transparent;
   top: 100%;
   left: 50%;
   margin-left: -50px;
   width: 0;
   height: 0;
}