body {
  background: url("./flagBackground.webp") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

#introductionMenu {
  position: absolute;
  top: 35%;
  left: 35%;
  border-left: 300px solid transparent; 
  border-right: 300px solid transparent;
  border-bottom: 300px solid rgb(0, 162, 255);
}

p {
	position: absolute;
	top: 50%;
  left: 41.5%;
  font-size: 18.25px;
  color: #f1f1f1;
  hyphens: auto;
  font-weight: bold;
}

footer {
  position: absolute;
	top: 55%;
  left: 48%;
  font-size: 15px;
  color: #f1f1f1;

}

.text-center {
  text-align: center;
}

